<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opus_bd.myapplication">

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".Activity.VoiceCall.Apps"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cc"
        android:label="@string/app_launcher_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.LOGREG.RegisterSuccessActivity" />
        <activity android:name=".Activity.LOGREG.RegistrationActivity" />
        <activity android:name=".Activity.EmoActivity" />
        <activity android:name=".Activity.Call.PlaceCallActivity" />
        <activity android:name=".Activity.Call.CallScreenActivity" />
        <activity android:name=".Activity.Call.IncomingCallScreenActivity" />

        <service android:name=".Activity.Call.SinchService" />

        <activity
            android:name=".Activity.HomeActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Activity.Call.CallActivity" />
        <activity android:name=".Activity.VoiceCall.IncommingCallActivity" />
        <activity android:name=".Activity.GroupActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity
            android:name=".Activity.ChatActivity"
            android:theme="@style/NoActionBar" />
    </application>

</manifest>